@font-face {
    font-family: 'Minecraft-Regular';
    src:url('/fonts/Minecraft-Regular.ttf.woff') format('woff'),
        url('/fonts/Minecraft-Regular.ttf.svg#Minecraft-Regular') format('svg'),
        url('/fonts/Minecraft-Regular.ttf.eot'),
        url('/fonts/Minecraft-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.logo {
  width: 128px;
  height: 128px;
  border-radius: 18%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.feature .bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.card {
  border-radius: 10px;
}

.card-text {
  overflow-x: scroll;
}

.symbols {
  line-height: 2.5;
}
.symbols code {
  display: inline-block;
  line-height: 1.5;
}

.text-custom {
  color: #ea3a2b;
}

.bg-custom {
  background-color: #ea3a2b;
}

.link-custom {
  color: #ea3a2b;
}
.link-custom:hover, .link-custom:focus {
  color: #ba0a00;
}

.btn-custom {
  background-color: #ea3a2b;
  border-color: #ea3a2b;
  color: #fff;
}
.btn-custom:hover, .btn-custom:focus, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #ba0a00;
  border-color: #ba0a00;
  color: #fff;
}
.nav-link {
  color: #ba0a00;
  border-color: #ba0a00;
  border-width: 1px !important;
}

.bg-dark-custom {
  background-color: #1C1C24;
}

.leaderboard .player {
  display: inline-block;
  width: 100%;
  background-color: #1C1C24;
  line-height: 50px;
  border-radius: 4px;
}

.leaderboard .player .position {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
}

.leaderboard .player .name {
  display: inline-block;
  height: 50px;
}

.leaderboard .player .score {
  display: inline-block;
  float: right;
  height: 50px;
  padding-right: 20px;
  text-align: right;
}

.nav-link {
  display: inline-block;
  margin-right: 8px;
}

.minecraft {
  font-family: 'Minecraft-Regular';
  background-image: url('/img/dirt.png');
}

.minecraft-dark-red {
  color: #AA0000;
}

.minecraft-gray {
  color: #AAAAAA;
}

.minecraft-dark-gray {
  color: #555555;
}

.minecraft p {
  margin-bottom: 0px;
}
